{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="voir_page"{% endblock %}
{% block title %} {{ page.titre|striptags }} {% endblock %}
{% block header %}
<h3>
    {{ page.titre }}
    {% if perms.pages.change_pages %}
        <a href="{% url "admin:pages_pages_change" page.id %}"><img src="{% static "img/editer.png" %}" alt="Modifier" title="Modifier cette page"></a>
    {% endif %}
</h3>
{% endblock %}

{% block content %}
    {{ page.contenu|safe }}
{% endblock %}
