{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="liste_patients"{% endblock %}
{% block header %}
<h3>Liste des patients enregistrées dans la base</h3>
{% endblock %}

{% block content %}
<h4>Avertissement : cet outil, toujours en développement, n'est proposé que pour des tests et ne saurait être utilisé en réel !</h4>

<table class="liste_patients">
    <thead>
        <tr>
            <td>Numéro Unique</td>
            <td>Nom</td>
            <td>Nom de jeune fille</td>
            <td>Prénom</td>
            <td>DDN</td>
            <td>Sexe</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    {% for patient in liste_patients %}
    <tbody>
        <tr>
            <td>N/A</td>
            <td>{{ patient.nom }}</td>
            <td>{{ patient.nom_jf }}</td>
            <td>{{ patient.prenom }}</td>
            <td>{{ patient.ddn }}</td>
            <td>{{ patient.get_sexe_display }}</td>
            <td><a href="{% url 'presc:associer_patient' patient.id %}"><img src="{% static 'img/yes.png' %}" alt="Attribuer la prescription au patient" title="Attribuer la prescription au patient"></a></td>
            <td><a href="{% url 'patients:voir_patient' patient.id %}"><img src ="{% static 'img/aide.png' %}" alt="Voir les détails" title="Détails…"></a></td>
        </tr>
    </tbody>
    {% empty %}
    <tbody>
        <tr>
            <td colspan="7">Rien n'a été saisi pour l'instant.</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<p>
<a href="{% url "patients:creer_patient" %}"><img src="{% static 'img/ajouter.png' %}" title="Ajouter un patient" alt=" + "></a>
</p>
{% endblock %}
