{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="creer_patient"{% endblock %}
{% block title %} Créer un nouveau patient {% endblock %}
{% block header %}
<h3>Créer un patient</h3>
{% endblock %}

{% block content %}

<fieldset>
    <legend><img src="{% static "img/patient.png" %}" alt="Patient"></legend>
           {% if form.errors %}
        <p class="erreur">Le formulaire contient des erreurs</p>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Créer" />
    </form>
</fieldset>


<script language="JavaScript">
document.getElementById('id_nom').focus();
</script>
{% endblock %}
