{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="rechercher_patient"{% endblock %}
{% block title %}Rechercher un patient {% endblock %}
{% block header %}
<h3>Rechercher un patient</h3>
{% endblock %}

{% block content %}
<fieldset>
    <legend><img src="{% static "img/patient.png" %}" alt="Patient"></legend>
           {% if form.errors %}
        <p class="erreur">Le formulaire contient des erreurs</p>
    {% endif %}
    <form method="post" action="{% url 'patients:recherche' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Rechercher" />
    </form>
</fieldset>

{% if Resultats %}
<table class="liste_patients">
    <thead>
        <tr>
            <td>Numéro Unique</td>
            <td>Nom</td>
            <td>Nom de naissance</td>
            <td>Prénom</td>
            <td>DDN</td>
            <td>Sexe</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    {% for patient in Resultats %}
    <tbody>
        <tr>
            <td>N/A</td>
            <td>{{ patient.nom_usage }}</td>
            <td>{{ patient.nom_naissance }}</td>
            <td>{{ patient.prenom }}</td>
            <td>{{ patient.ddn }}</td>
            <td>{{ patient.get_sexe_display }}</td>
            <td><a href="{% url 'presc:associer_patient' patient.id %}"><img src="{% static 'img/yes.png' %}" alt="Attribuer la prescription au patient" title="Attribuer la prescription au patient"></a></td>
            <td><a href="{% url 'patients:voir_patient' patient.id %}"><img src ="{% static 'img/aide.png' %}" alt="Voir les détails" title="Détails…"></a></td>
        </tr>
    </tbody>
    {% empty %}
    <tbody>
        <tr>
            <td colspan="7">Rien n'a été saisi pour l'instant.</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<table class="liste_patients">
    <tbody>
        <tr>
            <td colspan="8">Rien trouvé :-(</td>
        </tr>
    </tbody>
</table>
{% endif %}
<p>
<a href="{% url "patients:creer_patient" %}"><img src="{% static 'img/ajouter.png' %}" title="Ajouter un patient" alt=" + "></a>
<script language="JavaScript">
document.getElementById('id_ddn').focus();
</script>
{% endblock %}
