{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="voir_patient"{% endblock %}
{% block header %}
<h3>Détail d'un patient</h3>
{% endblock %}

{% block content %}
<h4>Avertissement : cet outil, toujours en développement, n'est proposé que pour des tests et ne saurait être utilisé en réel !</h4>

<table class="details_patient">
    <tr>
        <th>Nom</th>
        <td>{{ patients.nom_usage }}</td>
    </tr>
    <tr>
        <th>Nom de naissance</th>
        <td>{{ patients.nom_naissance }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ patients.prenom }}</td>
    </tr>
    <tr>
        <th>Sexe</th>
        <td>{{ patients.get_sexe_display }}</td>
    </tr>
    <tr>
        <th>Date de naissance</th>
        <td>{{ patients.ddn }}</td>
    </tr>
    <tr>
        <td colspan="2"><a href="{% url 'presc:associer_patient' patients.id %}">Attribuer la prescription au patient</a></td>
    </tr>
</table>


<table class="liste_prescriptions">
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Etiquettes</th>
            <th>Date de prescription</th>
            <th>Prescripteur</th>
            <th>Date d'exécution</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
        {% if prescriptions %}
        {% for prescription in prescriptions %}
        <tr>
            <td></td>
            <td><a href="{% url 'presc:etiquettes' prescription.id %}"><img src="{% static 'img/etiquettes.png' %}" alt="Etiquettes" title="Éditer les étiquettes"></a></td>
            <td>{{ prescription.date_crea }}</td>
            <td>{{ prescription.prescripteur.first_name }} {{ prescription.prescripteur.last_name }}</td>
            <td>{{ prescription.date_exec }}</td>
            <td><a href="{% url 'presc:voir' prescription.id %}"><img src ="{% static 'img/aide.png' %}" alt="Voir les détails" title="Détails…"</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">
                Rien…
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
