{% load static %}
{% if prescription %}
<ul>
    {% for prescription_ligne in prescription %}
    <li><a href="{% url 'ekz:voir_examen' prescription_ligne.id %}">{{ prescription_ligne|safe }}</a> <a href="{% url 'presc:enlever_examen' prescription_ligne.id %}" title="Retirer de la prescription"><img src="{% static 'img/poubelle.png' %}" alt="Ôter"></a></li>
    {% endfor %}
</ul>
<a href="{% url 'presc:vider' %}"><img src="{% static 'img/poubelle2.png' %}" alt="Vider" title="Vider la prescription"></a>
{% else %}
<p>Il n'y a pas de prescription en cours</p>
{% endif %}
<p>Patient : {% if prescription_patient %} {{ prescription_patient }} <a href="{% url 'presc:enlever_patient' %}" title="Retirer de la prescription"><img src="{% static 'img/poubelle.png' %}" alt="Ôter"></a>{% else %} Aucun patient pour cette prescription. <a href="{% url 'patients:recherche' %}">Sélectionnez un patient</a>{% endif %}</p>
