{% extends "base.html" %}

{% block idBODY %} id="liste_prescriptions"{% endblock %}
{% block header %}
<h3>Liste des prescriptions enregistrées dans la base</h3>
{% endblock %}

{% block content %}
<h4>Avertissement : cet outil, toujours en développement, n'est proposé que pour des tests et ne saurait être utilisé en réel !</h4>

<table class="liste_prescriptions">
    <thead>
        <tr>
            <td>Patient</td>
            <td>À faire</td>
            <td>Voir le détail</td>
            <td>Date de saisie</td>
            <td>Saisie par</td>
            <td>Date de la dernière modif</td>
            <td></td>
        </tr>
    </thead>
    {% for prescription in liste_prescriptions %}
    <tbody>
        <tr>
            <td>{{ prescription.patient }}</td>
            <td>{{ prescription.date_exec }}</td>
            <td><a href="{% url 'voir_prescription' prescription.id %}">» Voir le détail</a></td>
            <td>{{ prescription.date_crea }}</td>
            <td>N/A{# utilisateur #}</td>
            <td>{{ prescription.date_modif }}</td>
            <td></td>
        </tr>
    </tbody>
    {% empty %}
    <tbody>
        <tr>
            <td colspan="7">Rien n'a été saisi pour l'instant.</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}
