{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="prescription"{% endblock %}
{% block header %}
<h3>Prescription en cours d'enregistrement</h3>
{% endblock %}

{% block content %}
<ul class="messages">
    <li class=" debug ">
Avertissement : cet outil, toujours en développement, n'est proposé que pour des tests et ne saurait être utilisé en réel !
    </li>
</ul>


{% include 'examens_prescrits.html' %}

{% if prescription and prescription_patient %}
<a href="{% url 'presc:valider' %}"><img src="{% static 'img/ok2.png' %}" alt="Valider" title="Valider la prescription"></a>
{% endif %}
{% endblock %}
