{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="prescription"{% endblock %}
{% block header %}
<h3>Prescription en cours d'enregistrement</h3>
{% endblock %}

{% block content %}
<ul class="messages">
    <li class=" debug ">
Avertissement : cet outil, toujours en développement, n'est proposé que pour des tests et ne saurait être utilisé en réel !
    </li>
</ul>

{% include 'examens_prescrits.html' %}

<fieldset>
    <legend><img src="{% static "img/puzzle.png" %}" alt="Valider la prescription"></legend>
    {% if form.errors %}
        <p class="erreur">Le formulaire contient des erreurs</p>
    {% endif %}
    <form method="post" action="{% url 'presc:valider' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Valider" />
    </form>
</fieldset>
<script>
// Faisons en sorte d'avoir une aide à la saisie de la date
$( "#id_date_exec_0" ).datepicker();
$.datepicker.setDefaults( $.datepicker.regional[ "fr" ] );
</script>

{% endblock %}
