{% extends "base.html" %}

{% block idBODY %} id="voir_prescription"{% endblock %}

{% block header %}
<h3>Prescription numéro {{ prescription.id }} </h3>
{% endblock %}

{% block content %}
<h4>Avertissement : cet outil, toujours en développement, n'est proposé que pour des tests et ne saurait être utilisé en réel !</h4>

<ul>
    <li>Patient : {{ prescription.patient }}</li>
    <li>À faire : {{ prescription.date_exec  }}</li>
    <li>Prescrit : {{ prescription.date_crea }}</li>
    <li>Modif  : {{ prescription.date_modif }}</li>
    <li> Examens :
    <ul>
        {% for ex in prescription.examens.all %}
        <li><a href='{% url "voir_examen" ex.id %}'>{{ ex.nom|safe }}</a></li>
    {% if ex.fichier.all %}
    <li>Documents à joindre :
                  <ul>
                      {% for fichier in ex.fichier.all %}
                      <li><a href="/fichiers/{{ fichier.fichier }}" title="{{ fichier.description }}">{{ fichier.nom }}</a></li>
                      {% endfor %}
                  </ul>
    </li>
    {% endif %}
        {% empty %}
        <li>Rien à faire (!??)</li>
        {% endfor %}
    </ul>
    </li>
    <li>Prélèvement :
            {% for prel in prelevement %}
            <ul>
                <li><em>{{ prel.nom_prel }}</em> : <strong>{{ prel.nbre_tube|floatformat}}</strong> x <img src="/fichiers/{{ prel.img_tube }}" alt="{{ prel.nom_tube }}" title="{{ prel.nom_tube }}"></li>
            </ul>{% endfor %}
    </li>
</ul>

{% endblock %}
