{% extends "base.html" %}
{% load static %}
{% block idBODY %} id="voir_prescription"{% endblock %}

{% block header %}
<h3>Prescription numéro {{ prescription.id }} </h3>
{% endblock %}

{% block content %}
<ul class="messages">
    <li class=" debug ">
Avertissement : cet outil, toujours en développement, n'est proposé que pour des tests et ne saurait être utilisé en réel !
    </li>
</ul>


<table>
<tr>
	<td>Prescription</td>
	<td>{{ prescription.id }}</td>
	<td>{{ prescription.date_crea }} par {{ prescription.prescripteur.first_name }} {{ prescription.prescripteur.last_name }}</td>
</tr>
<tr>
	<td>Patient</td>
	<td colspan="2" ><a href="{% url 'patients:voir_patient' prescription.patient.id %}"><img src="{% static 'img/patient.png' %}" alt="Patient" title="Voir les détails du patient"></a> {{ prescription.patient }}</td>
</tr>
<tr>
	<td>Prévu pour le {{ prescription.date_exec  }}</td>
	<td>
    <ul>
    {% if prescription.date_prel != Null %}
    <li>Prélevé : {{ prescription.date_prel }} ({{ prescription.preleveur }})</li>
        {% if prescription.date_depart != Null  %}
            <li>Départ : {{ prescription.date_depart }}</li>
            {% if prescription.date_arrive != Null %}
                <li>Réception : {{ prescription.date_arrive }}</li>
            {% else %}
                {% if perms.presc.recevoir_prescriptions %}
                    <li><a href="recevoir/{{ prescription.id }}">Marquer comme reçu au labo</a></li>
                {% endif %}
            {% endif %}
        {% else %}
            {% if perms.presc.envoyer_prescriptions %}
                <li><a href="envoyer/{{ prescription.id }}">Marquer comme parti</a></li>
            {% endif %}
        {% endif %}
    {% else %}
    {% if perms.presc.prelever_prescriptions %}
        <li><a href="prelever/{{ prescription.id }}">Marquer comme prélevé maintenant par moi</a></li>
    {% endif %}
    {% endif %}
    </ul>
	</td>
	<td>Modification le {{ prescription.date_modif }}</td>
</tr>
<tr>
	<td> Examens</td>
	<td>
    <ul>
        {% for ex in prescription.examens.all %}
        <li><a href='{% url "ekz:voir_examen" ex.id %}'>{{ ex.nom|safe }}</a></li>
        {% empty %}
        <li>Rien à faire (!??)</li>
        {% endfor %}
    </ul>
	</td>
	<td>
        <a title="Voir le détail des pélèvements" href="#oModalprelevement"><img src="{% static 'img/tubes_prelevement.png' %}" alt="Prélèvement" title="Liste des tubes à prélever"></a>
     <a href="{% url 'presc:etiquettes' prescription.id %}"><img src="{% static 'img/etiquettes.png' %}" alt="Etiquettes" title="Éditer les étiquettes"></a>   {% include "omodal_haut.html" with id="oModalprelevement" %}
            {% for prel in prelevement %}
                <ul>
                    <li><em>{{ prel.nom_prel }}</em> : <strong>{{ prel.nbre_tube|floatformat}}</strong> x <img src="{{ MEDIA_URL}}{{ prel.img_tube }}" alt="{{ prel.nom_tube }}" title="{{ prel.nom_tube }}"></li>
                </ul>
            {% endfor %}
        {% include "omodal_bas.html" with id="oModalprelevement" legende="Prélèvements pour la prescription" %}
        <p>
        {% if prescription.commentaire %} {{ prescription.commentaire }} {% endif %}
        </p>
	</td>
</tr>
{% if docjoints %}
<tr>
	<td>Documents à joindre</td>
	<td colspan="2">
    <ul id="fichiers">
        {% for doc in docjoints %}
        <li><a href="{{ MEDIA_URL }}{{ doc.0.fichier }}"><img src="{% static "img/attachment.png" %}" alt="{{ doc.0.nom }}" title="Télécharger"><br><strong>{{ doc.0.nom }}</strong></a><br><em>{{ doc.0.description }}</em></li>
        {% endfor %}
	</td>
    </ul>
</tr>
{% endif %}
</table>




{% endblock %}
