{% extends "admin/base.html" %}

{% block title %} Ekzamenoj » {{ title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Administration de Ekzamenoj</a></h1>
{% endblock %}
