{% load static %}
<!DOCTYPE html>
<html id="colorbox">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'styles.css' %}" />
<link rel="stylesheet" href="{% static 'colorbox/colorbox.css' %}" />
<link rel="stylesheet" href="{% static 'perso.css' %}" />
<link rel="shortcut icon" type="image/png" href="{{ URL_FAVICON }}" />
<script type="text/JavaScript" src="{% static 'lib.js' %}"></script>
<script type="text/JavaScript" src="{% static 'jquery/jquery.js' %}"></script>
<script type="text/JavaScript" src="{% static 'colorbox/jquery.colorbox.js' %}"></script>
<script>
/* Description des effets colorbox */
$(document).ready(function(){
	$(".inline").colorbox({inline:true, width:"50%"});
});
</script>
<title>
{#    {% block title %}{{ TITRE_1 }} / {{ TITRE_2 }} {% endblock %}   #}
Le titre de la page HTML ici
</title>

</head>
<body{% block idBODY %}{% endblock %}>

<section id="content">
    {% block content %}{% endblock %}
</section>
</body>
</html>
