{% extends "base.html" %}
{% load static %}


{% block idBODY %} id="index"{% endblock %}
{% block title %} {{ TITRE_3|striptags }} {% endblock %}
{% block header %}
<h3>{{ TITRE_3 }}</h3>
{% endblock %}

{% block content %}
    <article id="news">
    {% for new in news %}
        <fieldset class="cesure">
            <legend>
            {% if perms.pages.change_news %}
                <a href="{% url "admin:pages_news_change" new.id %}"><img src="{% static "img/editer.png" %}" alt="Modifier" title="Modifier cette new"></a>
            {% endif %}
                {{ new.titre }}
            </legend>
            {{ new.contenu|safe }}
        </fieldset>
        {% empty %}
        <fieldset style="border:none;"></fieldset>
    {% endfor %}
    </article>

{% endblock %}

