{% extends "base.html" %}

{% block idBODY %} id="liste_tubes"{% endblock %}
{% block title %} Tubes {% endblock %}
{% block header %}
<h3>Symboles des recueils pour les prélèvements</h3>
{% endblock %}

{% block content %}


<ul class="liste_tubes">
    {% for tube in liste_tubes %}
    <li><img src="{{ MEDIA_URL }}{{ tube.image }}" alt="{{ tube.nom }}">{{ tube.nom }}. Ordre : {{ tube.ordre }}</li>
    {% empty %}
        <li>Rien n'a été paramétré pour l'instant.</li>
    {% endfor %}


</ul>


{% endblock %}
