{% extends "base.html" %}

{% block idBODY %} id="liste_prelevements"{% endblock %}
{% block title %} Prélèvements {% endblock %}
{% block header %}
<h3>Aide au prélèvement</h3>
{% endblock %}

{% block content %}
<p>L'ordre tient compte de l'ordre de prélèvement des tubes</p>

<dl class="liste_prelevements">
    {% for prelevement in liste_prelevements %}
        <dt>{{ prelevement.nom }} : </dt>
        <dd>{{ prelevement.nombre }} {{ prelevement.tube }} {{ prelevement.ImgTubes|safe }}
                <ul>
                {% for examen in prelevement.examen.all %}
                    <li><a href="{% url 'ekz:voir_examen' examen.id %}">{{ examen.nom|safe }}</a></li>
                {% endfor %}
                </ul>
        </dd>
    {% empty %}
        <li>Rien n'a été paramétré pour l'instant.</li>
    {% endfor %}
</dl>


{% endblock %}
