{% extends "base.html" %}

{% block idBODY %} id="liste_bons"{% endblock %}
{% block title %} Formulaires de prescription {% endblock %}
{% block header %}
<h3>Formulaires de prescription</h3>

{% endblock %}

{% block content %}

<ul class="liste_bons">
    {% for bon in liste_bons %}
        <li>
            {% if bon.image %}<img src="{{ MEDIA_URL }}{{ bon.image }}" alt="">{% endif %}
            {{ bon.nom }}.
            {% if bon.fichier %}<a href="{{ MEDIA_URL }}{{ bon.fichier }}">Télécharger</a>{% endif %}
        </li>
    {% empty %}
        <li>Rien n'a été paramétré pour l'instant.</li>
    {% endfor %}


</ul>


{% endblock %}
