{% extends "base.html" %}

{% block idBODY %} id="liste_alpha_examens"{% endblock %}
{% block title %} Liste des examens / {{ lettre }}{% endblock %}
{% block header %}
<h3>Référentiel des examens </h3>
{% endblock %}

{% block content %}

<h2>Liste des examens commençant par la lettre {{ lettre }}</h2>

{% if Tout %}
   <ul class="clear">
     {% for un in Tout %}
        {% if un.examen.id %}
           <li>{{ un.nom|safe }} : voir <a href='{% url "voir_examen" un.examen.id %}'>{{ un.examen|safe }}</a></li>
        {% else %}
           <li><a href='{% url "voir_examen" un.id %}'>{{ un.nom|safe }}</a></li>
        {% endif %}
     {% endfor %} 
   </ul>
{% else %}
<p>Il n'y a rien pour l'instant.</p>
{% endif %}

{% endblock %}
