{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="liste_alpha_examens"{% endblock %}
{% block title %} Liste des examens / {{ lettre }}{% endblock %}
{% block header %}
<h3>Référentiel des examens </h3>
{% endblock %}

{% block content %}

<h2>Liste des examens commençant par la lettre {{ lettre }}</h2>

{% if Tout %}
   <ul class="clear">
     {% for un in Tout %}
        {% if un.examen.id %}
           <li>
		{{ un.nom|safe }} : voir <a href='{% url "ekz:voir_examen" un.examen.id %}'>{{ un.examen|safe }}</a>
		{% if perms.presc.create_prescriptions and VOIR_PRESCRIPTIONS = True%}
			<a href="{% url 'presc:prescrire' un.examen.id %}"><img src="{% static "img/ajouter.png" %}" alt="Prescrire" title="Ajouter à la prescription"></a>
	        {% endif %}
	   </li>
        {% else %}
           <li><a href='{% url "ekz:voir_examen" un.id %}'>{{ un.nom|safe }}</a>
		    {% if perms.presc.create_prescriptions and VOIR_PRESCRIPTIONS = True%}
			<a href="{% url 'presc:prescrire' un.id %}"><img src="{% static "img/ajouter.png" %}" alt="Prescrire" title="Ajouter à la prescription"></a>
		    {% endif %}</li>
        {% endif %}
     {% endfor %}
   </ul>
{% else %}
<p>Il n'y a rien pour l'instant.</p>
{% endif %}

{% endblock %}
