{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="liste_examens"{% endblock %}
{% block title %} Liste des examens {% endblock %}
{% block header %}
<h3>Liste des examens</h3>
{% endblock %}

{% block content %}
<p class="pagination">
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"><img src="{% static 'img/precedent.png' %}" alt="Précédents" title="Page précédente"></a>
{% endif %}
Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"><img src="{% static 'img/suivant.png' %}" alt="Suivants" title="Page suivante"></a>
{% endif %}
</p>

{% for examen in liste_examens %}

{% if perms.ekz.view_inactif and not examen.is_actif or examen.is_actif %}

<h3 class="{% if examen.is_actif %}actif{% else %}inactif{% endif %}">{{ examen.nom|safe }}
    {% if perms.ekz.change_examens %}
        <a href="{% url "admin:ekz_examens_change" examen.id %}"><img src="{% static "img/editer.png" %}" alt="Modifier" title="Modifier cet examen"></a>
    {% endif %}
<a href='{% url "voir_examen" examen.id %}'><img src="{% static 'img/details.png' %}" alt="Détails" title="Voir les détails"></a>
</h3>


{% if examen.synonymes.all %}<p>Synonymes : {% for synonyme in examen.synonymes.all %} {{ synonyme }} {% endfor %}</p>{% endif %}
{% if examen.indications %}<p>{{ examen.indications|truncatewords_html:20|safe }}</li>{% endif %}

<ul>
{% if examen.code_sil %}<li>SIL : {{ examen.code_sil }}</li>{% endif %}
{% if examen.secteur %}<li>Secteur : {{ examen.secteur }}</li>{% endif %}
{% if examen.soustraitance %}<li>Sous-traitance : {{ examen.soustraitance }}</li>{% endif %}
{% if examen.urgence %}<li>Urgence : {{ examen.urgence }}</li>{% endif %}
{% if examen.bon %}<li>Bon : {{ examen.bon }}</li>{% endif %}
{% if examen.acte %}<li>Coût : {{ examen.acte }}</li>{% endif %}

</ul>

{% endif %}
{% empty %}
<p> Il n'y a rien pour l'instant !</p>

{% endfor %}


<p class="pagination">
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"><img src="{% static 'img/precedent.png' %}" alt="Précédents" title="Page précédente"></a>
{% endif %}
Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"><img src="{% static 'img/suivant.png' %}" alt="Suivants" title="Page suivante"></a>
{% endif %}
</p>



{% endblock %}
