{% extends "base_colorbox.html" %}

{% block idBODY %} id="login_colorbox"{% endblock %}
{% block header %}
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p class="erreur">Nom d'utilisateur et/ou mot de passe incorrect.</p>
    {% endif %}
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
            {{ form.username.label_tag }} {{ form.username }}
            <br>
            {{ form.password.label_tag }} {{ form.password }}
        <input type="submit" value="Connexion" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
<script language="JavaScript">
document.getElementById('id_username').focus();
</script>
{% endblock %}
