{% extends "base.html" %}

{% block idBODY %} id="login"{% endblock %}
{% block header %}
<h2>Connexion</h2>
{% endblock %}

{% block content %}

<fieldset>
    <legend>Identification</legend>
    {% if form.errors %}
        <p class="erreur">Nom d'utilisateur et/ou mot de passe incorrect.</p>
    {% endif %}
    {% include 'form_login.html' %}
</fieldset>
{% endblock %}
