{% comment %}
Pour afficher le début d'une fenêtre de type oModal.
Utilisation :
   % include "omodal_haut.html" with id="XXXX"
{% endcomment %}
{% load static %}
<div id="{{ id }}" class="oModal">
  <div>
      <header>
	<a href="#fermer" title="Fermer la fenêtre" class="droite"><img src="{% static 'img/fermer.png' %}" alt="X"></a>
      </header>
