{% comment %}
Pour afficher la fin d'une fenêtre de type oModal.
Utilisation :
   % include "omodal_bas.html" with legende="Légende en bas de la fenêtre" 
{% endcomment %}
<footer class="cf">
	<p>{{ legende }}</p>
</footer>
  </div>
</div>


<script type="text/JavaScript">
var {{ id }} = document.getElementById('{{ id }}');
{{ id }}.addEventListener('click', function(e) {
    if(e.target.tagName === 'DIV') {
        document.location = '#ferme';
    }
});
</script>
