{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="recherche"{% endblock %}
{% block title %} Rechercher {% endblock %}
{% block header %}
<h3>Recherche</h3>
{% endblock %}

{% block content %}

<fieldset>
    <legend><img src="{% static "img/loupe.png" %}" alt="Rechercher…"></legend>
    {% if form.errors %}
        <p class="erreur">Le formulaire contient des erreurs</p>
    {% endif %}
    <form method="get" action="{% url 'ekz:recherche' %}">
        {{ form }}
        <input type="submit" value="Rechercher" />
    </form>
</fieldset>

{% if Resultats or ResBilans %}
<fieldset>
    <legend>Résultats</legend>
    <ul id="resultats">
    {% for res in Resultats %}
        <li>
           {% if res.examen.id %}
              {{ res.nom }} ; voir : <a href='{% url "ekz:voir_examen" res.examen.id %}'>{{ res.examen|safe }}</a>
		    {% if perms.presc.create_prescriptions and VOIR_PRESCRIPTIONS = True%}
			<a href="{% url 'presc:prescrire' res.examen.id %}"><img src="{% static "img/ajouter.png" %}" alt="Prescrire" title="Ajouter à la prescription"></a>
		    {% endif %}
           {% else %}
              <a href='{% url "ekz:voir_examen" res.id %}' title="{{ res.nom }}">{{ res|safe }}</a>
		    {% if perms.presc.create_prescriptions and VOIR_PRESCRIPTIONS = True%}
			<a href="{% url 'presc:prescrire' res.id %}"><img src="{% static "img/ajouter.png" %}" alt="Prescrire" title="Ajouter à la prescription"></a>
		    {% endif %}
           {% endif %}
       </li>
    {% endfor %}
    {% for res2 in ResBilans %}
    <li>{{ res2.nom }} 
	    {% if perms.presc.create_prescriptions and VOIR_PRESCRIPTIONS = True%}
		    <a href="{% url 'presc:prescrire_bilan' res2.id %}"><img src="{% static "img/ajouter.png" %}" alt="Prescrire" title="Ajouter à la prescription"></a>
	    {% endif %}
        ({% for ex in res2.examen.all %}<a href='{% url "ekz:voir_examen" ex.id %}'>{{ ex|safe }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})</li>
    {% endfor %}
    </ul>
</fieldset>
{% elif ChaineRecherche %}
<p>Malheureusement, aucun résultat :-(</p>
{% endif %}


<script language="JavaScript">
document.getElementById('id_ChaineRecherche').focus();
</script>
{% endblock %}
