{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="recherche"{% endblock %}
{% block title %} Rechercher {% endblock %}
{% block header %}
<h3>Recherche</h3>
{% endblock %}

{% block content %}

<fieldset>
    <legend><img src="{% static "img/loupe.png" %}" alt="Rechercher…"></legend>
           {% if form.errors %}
        <p class="erreur">Le formulaire contient des erreurs</p>
    {% endif %}
    <form method="get" action="{% url 'ekz.views.recherche' %}">
        {#% csrf_token %#}
        {{ form }}
        <input type="submit" value="Rechercher" />
    </form>
</fieldset>

{% if Resultats %}
<fieldset>
    <legend>Résultats</legend>
    <ul id="resultats">
    {% for res in Resultats %}
        <li>
           {% if res.examen.id %}
              {{ res.nom }} ; voir : <a href='{% url "voir_examen" res.examen.id %}' title="{{ res.examen.nom }}">{{ res.examen.nom }}</a>
           {% else %}
              <a href='{% url "voir_examen" res.id %}' title="{{ res.nom }}">{{ res.nom }}</a>
           {% endif %}
       </li>
    {% endfor %}
    </ul>
</fieldset>
{% elif ChaineRecherche %}
<p>Malheureusement, aucun résultat :-(</p>
{% endif %}


<script language="JavaScript">
document.getElementById('id_ChaineRecherche').focus();
</script>
{% endblock %}
