{% extends "base.html" %}
{% load verbose_names %}
{% load static %}

{% block idBODY %} id="voir_examen"{% endblock %}
{% block title %} {{ examen.nom|striptags }} {% endblock %}

{% block header %}
<h3>Référentiel des examens </h3>
{% endblock %}

{% block content %}


{% if perms.ekz.view_inactif and not examen.is_actif or examen.is_actif %}

<h2>
    {% if perms.ekz.change_examens %}
        <a href="{% url "admin:ekz_examens_change" examen.id %}"><img src="{% static "img/editer.png" %}" alt="Modifier" title="Modifier cet examen"></a>
    {% endif %}
    {{ examen.nom|safe }}
    {% if REF_EXT %}
       <a href="{{ REF_EXT }}{{ examen.nom|striptags }}"><img src="{% static "img/aide.png" %}" alt="xxx" title="Voir plus d'infos…"></a>
    {% endif %}
</h2>
{% if examen.all_synonymes %}<p id="synonymes" title="Synonymes">{% for synonyme in examen.all_synonymes %} {{ synonyme|safe }}{% if not forloop.last %},{% endif %} {% endfor %}</p>{% endif %}
<table class="{% if examen.is_actif %}actif{% else %}inactif{% endif %}">
    <caption>{% get_verbose_field_name examen 'date_modif' %} : {{ examen.date_modif|date:"DATE_FORMAT" }}</caption>
    {% if examen.code_sil and perms.ekz.view_code_sil %}
        <tr>
        <td>{% get_verbose_field_name examen "code_sil" %}</td>
            <td>{{ examen.code_sil }}</td>
        </tr>
    {% endif %}
    {% if examen.secteur %}
        <tr>
            <td>{% get_verbose_name examen.secteur %}</td>
            <td>
                <a title="Informations sur le {% get_verbose_name examen.secteur %}" class="inline" href="#inline_secteur">{{ examen.secteur }}</a>
                <div style='display:none;'>
                   <div id="inline_secteur">
                    <ul id="secteur">
                        <li>{{ examen.secteur.description }} </li>
                        <li>{% get_verbose_field_name examen.secteur "telephone" %} : {{ examen.secteur.telephone }}</li>
                        <li>{% get_verbose_field_name examen.secteur "courriel" %} : <a href="mailto:{{ examen.secteur.courriel }}"> {{ examen.secteur.courriel }}</a></li>
                    </ul>
                   </div>
                </div>
            </td>
        </tr>
    {% endif %}
    {% if examen.methode %}
        <tr>
            <td>{% get_verbose_name examen.methode %}</td>
            <td><abbr title="{{ examen.methode.description }}">{{ examen.methode }}</abbr></td>
        </tr>
    {% endif %}
    {% if examen.soustraitance  %}
        <tr>
            <td>{% get_verbose_name examen.soustraitance %}</td>
            <td>
                {% if perms.ekz.view_soustraitance_details %}
                <a title="Détails" class="inline" href="#inline_soustraitance">{{ examen.soustraitance.soustraitant }}</a>
                <div style='display:none;'>
                    <div id="inline_soustraitance">
                         <p>{{ examen.soustraitance }}</p>
                         <p>{{examen.soustraitance.infos|safe }}</p>
                        <ul id="soustraitance">
                            <li>{% get_verbose_field_name examen.soustraitance.soustraitant "nom" %} : {{ examen.soustraitance.soustraitant.nom }}
                                <ul>
                                    <li>{% get_verbose_field_name examen.soustraitance.soustraitant "telephone" %} : {{ examen.soustraitance.soustraitant.telephone }}</li>
                                    <li>{% get_verbose_field_name examen.soustraitance.soustraitant "courriel" %} : {{ examen.soustraitance.soustraitant.couriel }}</li>
                                    <li><a href="{{ examen.soustraitance.soustraitant.url }}">{% get_verbose_field_name examen.soustraitance.soustraitant "url" %}</a></li>
                                    <li>{% get_verbose_field_name examen.soustraitance.soustraitant "ville" %} : {{ examen.soustraitance.soustraitant.cp }} {{ examen.soustraitance.soustraitant.ville }}</li>
                                    <li>{% get_verbose_field_name examen.soustraitance.soustraitant "description" %} : {{ examen.soustraitance.soustraitant.description }}</li>
                                </ul>
                            </li>
                            <li>{% get_verbose_field_name examen.soustraitance.transporteur "nom" %}: {{ examen.soustraitance.transporteur.nom }}
                                <ul>
                                <li>{% get_verbose_field_name examen.soustraitance.transporteur "telephone" %} : {{ examen.soustraitance.transporteur.telephone }}</li>
                                <li>{% get_verbose_field_name examen.soustraitance.transporteur "courriel" %} : {{ examen.soustraitance.transporteur.couriel }}</li>
                                <li><a href="{{ examen.soustraitance.transporteur.url }}">{% get_verbose_field_name examen.soustraitance.transporteur "url" %}</a></li>
                                <li>{% get_verbose_field_name examen.soustraitance.transporteur "ville" %} : {{ examen.soustraitance.transporteur.cp }} {{ examen.soustraitance.transporteur.ville }}</li>
                                <li>{% get_verbose_field_name examen.soustraitance.transporteur "description" %} : {{ examen.soustraitance.transporteur.description }}</li>
                                </ul>
                            </li>
                            <li>{% get_verbose_name examen.soustraitance.stockage %} : {{ examen.soustraitance.stockage }}</li>
                        {% if examen.soustraitance.url %}
                        <li><a href="{{ examen.soustraitance.url}}">Voir infos externes.</a></li>
                </ul>
                    </div>
                    </div>
                        {% endif %}
                {% else %}
                  {{ examen.soustraitance.soustraitant }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if examen.all_prelevements %}
        <tr>
            <td>Prélèvement</td>
            <td>
            {% for prelevement in examen.all_prelevements %}
            {{ prelevement.ImgTubes|safe }}
            {% endfor %}
            {% if examen.recommandations %}
                <p class="{{ examen.recommandations.classe }}">
                {% if examen.recommandations.image %}<img src="{{ MEDIA_URL }}{{ examen.recommandations.image }}" alt=''>{% endif %}
                {{ examen.recommandations }}
                </p>
            {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if examen.acheminements %}
        <tr>
            <td>{% get_verbose_name examen.acheminements %}</td>
            <td>{{ examen.acheminements }}</td>
        </tr>
    {% endif %}
    {% if examen.nature %}
        <tr>
            <td>{% get_verbose_name examen.nature %}</td>
            <td>{{ examen.nature }}</td>
        </tr>
    {% endif %}
    {% if examen.urgence %}
        <tr>
            <td>{% get_verbose_name examen.urgence %}</td>
            <td class="{{ examen.urgence.classe }}">{% if examen.urgence.image %} <img src="{{ MEDIA_URL }}{{examen.urgence.image }}" alt=""> {% endif %} {{ examen.urgence.nom }}</td>
        </tr>
    {% endif %}
    {% if examen.bon %}
        <tr>
            <td>{% get_verbose_name examen.bon %}</td>
            <td>{% if examen.bon.fichier and perms.ekz.download_bon %}
                      <a href="{{ MEDIA_URL }}{{ examen.bon.fichier }}"><img src="{{ MEDIA_URL }}{{examen.bon.image }}" alt="{{ examen.bon }}" title="Cliquez pour télécharger {{examen.bon }}"></a>
                {% else %}
                       <img src="{{ MEDIA_URL }}{{examen.bon.image }}" alt="{{ examen.bon }}" title="{{examen.bon }}">
                {% endif %}</td>
        </tr>
    {% endif %}
    {% if examen.actes.all %}
        <tr>
            <td>{% get_verbose_field_name examen 'actes' %}</td>
            <td>{% for acte in examen.actes.all %} <abbr title="{{ acte }}">{{ acte.code }}</abbr> {% endfor %} </td>
        </tr>
    {% endif %}
    {% if examen.delai_rendu %}
        <tr>
            <td>{% get_verbose_field_name examen 'delai_rendu' %}</td>
            <td>{{ examen.delai_rendu }} h</td>
        </tr>
    {% endif %}
    {% if examen.delai_recept %}
        <tr>
            <td>{% get_verbose_field_name examen 'delai_recept' %}</td>
            <td>{{ examen.delai_recept }} h</td>
        </tr>
    {% endif %}
    {% if examen.delai_preana %}
        <tr>
            <td>{% get_verbose_field_name examen 'delai_preana' %}</td>
            <td>{{ examen.delai_preana }} h</td>
        </tr>
    {% endif %}
    {% if examen.preanalytique and perms.ekz.view_preanalytique %}
        <tr>
            <td>{% get_verbose_name examen.preanalytique %}</td>
            <td>{{ examen.preanalytique }} </td>
        </tr>
    {% endif %}
    {% if examen.fichier.all %}
        <tr>
            <td>{% get_verbose_field_name examen 'fichier' %}</td>
            <td>
                <ul id="fichiers"> {% for fichier in examen.fichier.all %} <li><a href="{{ MEDIA_URL }}{{ fichier.fichier }}"><img src="{% static "img/attachment.png" %}" alt="{{ fichier.nom }}" title="Télécharger"><br><strong>{{ fichier.nom }}</strong></a><br><em>{{ fichier.description }}</em></li>{% endfor %}</ul>
            </td>
        </tr>
    {% endif %}
    {% if examen.commentaire %}
    <tr>
        <td id="commentaire" colspan="2"> {{ examen.commentaire|safe }}</td>
    </tr>
    {% endif %}
    {% if examen.indications %}
        <tr>
            <td><a onclick="JavaScript:details(this,'indications');">Voir</a> les indications</td>
            <td colspan="2"><div id="indications" style='display:none;'>{{ examen.indications|safe }}</div></td>
        </tr>
    {% endif %}
</table>


{% else %}
Examen non actif/droits insuffisants.
{% endif %}

{% endblock %}
