{% extends "base.html" %}
{% load verbose_names %}
{% load static %}

{% block idBODY %} id="voir_examen"{% endblock %}
{% block title %} {{ examen.nom|striptags }} {% endblock %}

{% block header %}
<h3>Référentiel des examens </h3>
{% endblock %}

{% block content %}


<h2>
    {% if perms.ekz.change_examens %}
        <a href="{% url "admin:ekz_examens_change" examen.id %}"><img src="{% static "img/editer.png" %}" alt="Modifier" title="Modifier cet examen"></a>
    {% endif %}
    {{ examen.nom|safe }}
    {% if perms.presc.create_prescriptions and VOIR_PRESCRIPTIONS = True %}
        <a href="{% url 'presc:prescrire' examen.id %}"><img src="{% static "img/ajouter.png" %}" alt="Prescrire" title="Ajouter à la prescription"></a>
    {% endif %}
    {% if REF_EXT %}
       <a href="{{ REF_EXT }}{{ examen.nom|striptags }}"><img src="{% static "img/aide.png" %}" alt=" + " title="Voir plus d'infos…"></a>
    {% endif %}
    </h2>
{% if examen.all_synonymes %}
    <p id="synonymes" title="Synonymes">
        {% if perms.ekz.change_synonymes %}
            <a href="{% url "admin:ekz_synonymes_changelist" %}?examen__id__exact={{ examen.id }}"><img src="{% static "img/liste2.png" %}" alt="Modifier" title="Modifier les synonymes"></a>
        {% endif %}
        {% for synonyme in examen.all_synonymes %}
            {% if perms.ekz.change_synonymes %}
                <a href="{% url "admin:ekz_synonymes_change" synonyme.id %}" title="Modifier ce synonyme">
            {% endif %}
            {{ synonyme|safe }}
            {% if perms.ekz.change_synonymes %}
                </a>
            {% endif %}
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
{% endif %}
<table class="{% if examen.is_actif %}actif{% else %}inactif{% endif %}">
    <caption>
        {% get_verbose_field_name examen 'date_modif' %} :
        {% if perms.ekz.change_examens %}
            <a href="{% url "admin:ekz_examens_history" examen.id %}" title="Voir les détails…">
        {% endif %}
        {{ examen.date_modif|date:"DATE_FORMAT" }}
        {% if perms.ekz.change_examens %}
            </a>
        {% endif %}
    </caption>
    {% if examen.code_sil and perms.ekz.view_code_sil %}
        <tr>
        <td>{% get_verbose_field_name examen "code_sil" %}</td>
            <td>{{ examen.code_sil }}</td>
        </tr>
    {% endif %}
    {% if examen.secteur %}
        <tr>
            <td>{% get_verbose_name examen.secteur %}</td>
            <td>
            <a title="Informations sur le {% get_verbose_name examen.secteur %}" href="#oModalsecteur">{{ examen.secteur }}</a>
            {% include "omodal_haut.html" with id="oModalsecteur" %}
                    <ul id="secteur">
                        <h1>
                            {% if perms.ekz.change_secteurs %}
                            <a href="{% url "admin:ekz_secteurs_change" examen.secteur.id %}"><img src="{% static "img/editer.png" %}" alt="Modifier" title="Modifier ce secteur"></a>
                            {% endif %}
                            {{ examen.secteur.nom }}
                        </h1>
                        {% if examen.secteur.description %} <li>{{ examen.secteur.description }} </li> {% endif %}
                        {% if examen.secteur.telephone %}<li>{% get_verbose_field_name examen.secteur "telephone" %} : {{ examen.secteur.telephone }}</li> {% endif %}
                        {% if examen.secteur.courriel %}<li>{% get_verbose_field_name examen.secteur "courriel" %} : <a href="mailto:{{ examen.secteur.courriel }}"> {{ examen.secteur.courriel }}</a></li>{% endif %}
                    </ul>
            {% include "omodal_bas.html" with id="oModalsecteur" legende="Détails du secteur" %}
            </td>
        </tr>
    {% endif %}
    {% if examen.methode %}
        <tr>
            <td>{% get_verbose_name examen.methode %}</td>
            <td><abbr title="{{ examen.methode.description }}">{{ examen.methode }}</abbr></td>
        </tr>
    {% endif %}
    {% if examen.soustraitance  %}
        <tr>
            <td>{% get_verbose_name examen.soustraitance %}</td>
            <td>
                {% if perms.ekz.view_soustraitance_details %}
                <a title="Détails de la sous-traitance" href="#oModalsoustraitance">{{ examen.soustraitance.soustraitant }}</a>
                {% include "omodal_haut.html" with id="oModalsoustraitance" %}
                        <h1>
                        {% if perms.ekz.change_soustraitance %}
                        <a href="{% url "admin:ekz_soustraitance_change" examen.soustraitance.id %}"><img src="{% static "img/editer.png" %}" alt="Modifier" title="Modifier cette sous traitance"></a>
                        {% endif %}
                        {{examen.soustraitance }}
                        <a href="{{ examen.soustraitance.url}}"><img src="{% static "img/info.png" %}" alt="Voir les infos externes" title="Voir infos externes"></a>
                        </h1>
                        {% if examen.soustraitance.infos %}<blockquote>{{ examen.soustraitance.infos|safe }}</blockquote>{% endif %}
                        {% if examen.soustraitance.url %}
                        {% endif %}
                        <ul id="soustraitance">
                            <li>{% get_verbose_name examen.soustraitance.soustraitant %} : {{ examen.soustraitance.soustraitant.nom }}
                                <ul>
                                    {% if examen.soustraitance.soustraitant.telephone %}<li>{% get_verbose_field_name examen.soustraitance.soustraitant "telephone" %} : {{ examen.soustraitance.soustraitant.telephone }}</li>{% endif %}
                                    {% if examen.soustraitance.soustraitant.courriel %}<li>{% get_verbose_field_name examen.soustraitance.soustraitant "courriel" %} : {{ examen.soustraitance.soustraitant.couriel }}</li>{% endif %}
                                    {% if examen.soustraitance.soustraitant.url %}<li><a href="{{ examen.soustraitance.soustraitant.url }}">{% get_verbose_field_name examen.soustraitance.soustraitant "url" %}</a></li>{% endif %}
                                    {% if examen.soustraitance.soustraitant.cp %}<li>{% get_verbose_field_name examen.soustraitance.soustraitant "ville" %} : {{ examen.soustraitance.soustraitant.cp }} {{ examen.soustraitance.soustraitant.ville }}</li>{% endif %}
                                    {% if examen.soustraitance.soustraitant.description %}<li>{% get_verbose_field_name examen.soustraitance.soustraitant "description" %} : {{ examen.soustraitance.soustraitant.description }}</li>{% endif %}
                                </ul>
                            </li>
                            <li>{% get_verbose_name examen.soustraitance.transporteur %} : {{ examen.soustraitance.transporteur.nom }}
                                <ul>
                                {% if examen.soustraitance.transporteur.telephone %}<li>{% get_verbose_field_name examen.soustraitance.transporteur "telephone" %} : {{ examen.soustraitance.transporteur.telephone }}</li>{% endif %}
                                {% if examen.soustraitance.transporteur.couriel %}<li>{% get_verbose_field_name examen.soustraitance.transporteur "courriel" %} : {{ examen.soustraitance.transporteur.couriel }}</li>{% endif %}
                                {% if examen.soustraitance.transporteur.url %}<li><a href="{{ examen.soustraitance.transporteur.url }}">{% get_verbose_field_name examen.soustraitance.transporteur "url" %}</a></li>{% endif %}
                                {% if examen.soustraitance.transporteur.cp %}<li>{% get_verbose_field_name examen.soustraitance.transporteur "ville" %} : {{ examen.soustraitance.transporteur.cp }} {{ examen.soustraitance.transporteur.ville }}</li>{% endif %}
                                {% if examen.soustraitance.transporteur.description %}<li>{% get_verbose_field_name examen.soustraitance.transporteur "description" %} : {{ examen.soustraitance.transporteur.description }}</li>{% endif %}
                                </ul>
                            </li>
                            {% if examen.soustraitance.stockage %}<li>{% get_verbose_name examen.soustraitance.stockage %} : {{ examen.soustraitance.stockage }}</li>{% endif %}
                        </ul>
                    {% include "omodal_bas.html" with id="oModalsoustraitance" legende="Détails de la sous-traitance" %}
                {% else %}
                  {{ examen.soustraitance.soustraitant }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if examen.all_prelevements %}
        <tr>
            <td>Prélèvement</td>
            <td>
            {% for prelevement in examen.all_prelevements %}
            {{ prelevement.ImgTubes|safe }}
            {% endfor %}
            {% if examen.recommandations %}
                <p class="{{ examen.recommandations.classe }}">
                {% if examen.recommandations.image %}<img src="{{ MEDIA_URL }}{{ examen.recommandations.image }}" alt=''>{% endif %}
                {{ examen.recommandations }}
                </p>
            {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if examen.acheminements %}
        <tr>
            <td>{% get_verbose_name examen.acheminements %}</td>
            <td>{{ examen.acheminements }}</td>
        </tr>
    {% endif %}
    {% if examen.nature %}
        <tr>
            <td>{% get_verbose_name examen.nature %}</td>
            <td>{{ examen.nature }}</td>
        </tr>
    {% endif %}
    {% if examen.urgence %}
        <tr>
            <td>{% get_verbose_name examen.urgence %}</td>
            <td class="{{ examen.urgence.classe }}">{% if examen.urgence.image %} <img src="{{ MEDIA_URL }}{{examen.urgence.image }}" alt=""> {% endif %} {{ examen.urgence.nom }}</td>
        </tr>
    {% endif %}
    {% if examen.bon %}
        <tr>
            <td>{% get_verbose_name examen.bon %}</td>
            <td>{% if examen.bon.fichier and perms.ekz.download_bon %}
                      <a href="{{ MEDIA_URL }}{{ examen.bon.fichier }}"><img src="{{ MEDIA_URL }}{{examen.bon.image }}" alt="{{ examen.bon }}" title="Cliquez pour télécharger {{examen.bon }}"></a>
                {% else %}
                       <img src="{{ MEDIA_URL }}{{examen.bon.image }}" alt="{{ examen.bon }}" title="{{examen.bon }}">
                {% endif %}</td>
        </tr>
    {% endif %}
    {% if examen.actes.all %}
        <tr>
            <td>{% get_verbose_field_name examen 'actes' %}</td>
            <td>{% for acte in examen.actes.all %} <abbr title="{{ acte }}">{{ acte.code }}</abbr> {% endfor %} </td>
        </tr>
    {% endif %}
    {% if examen.delai_rendu %}
        <tr>
            <td>{% get_verbose_field_name examen 'delai_rendu' %}</td>
            <td>{{ examen.delai_rendu_jours }} </td>
        </tr>
    {% endif %}
    {% if examen.delai_recept %}
        <tr>
            <td>{% get_verbose_field_name examen 'delai_recept' %}</td>
            <td>{{ examen.delai_recept_jours }}</td>
        </tr>
    {% endif %}
    {% if examen.delai_preana %}
        <tr>
            <td>{% get_verbose_field_name examen 'delai_preana' %}</td>
            <td>{{ examen.delai_preana_jours }}</td>
        </tr>
    {% endif %}
    {% if examen.preanalytique and perms.ekz.view_preanalytique %}
        <tr>
            <td>{% get_verbose_name examen.preanalytique %}</td>
            <td>{{ examen.preanalytique }} </td>
        </tr>
    {% endif %}
    {% if examen.fichier.all %}
        <tr>
            <td>{% get_verbose_field_name examen 'fichier' %}</td>
            <td>
                <ul id="fichiers"> {% for fichier in examen.fichier.all %} <li><a href="{{ MEDIA_URL }}{{ fichier.fichier }}"><img src="{% static "img/attachment.png" %}" alt="{{ fichier.nom }}" title="Télécharger"><br><strong>{{ fichier.nom }}</strong></a><br><em>{{ fichier.description }}</em></li>{% endfor %}</ul>
            </td>
        </tr>
    {% endif %}
    {% if examen.commentaire %}
    <tr>
        <td id="commentaire" colspan="2"> {{ examen.commentaire|safe }}</td>
    </tr>
    {% endif %}
    {% if examen.indications %}
        <tr>
            <td colspan="2">
                <a title="Indications de {{ examen.nom|safe }}" href="#oModalindications">Voir les indications</a>
                {% include "omodal_haut.html" with id="oModalindications" %}
                       {{ examen.indications|safe }}
               {% include "omodal_bas.html" with id="oModalindications" legende="Indications" %}
        </tr>
    {% endif %}
</table>


{% endblock %}
