/*
 * 
 * Copyright (C) 2014  Nicolas Grandjean <nicolas@microniko.net>
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Styles
   !!!!!! NE PAS MODIFIER CE FICHIER !!!!!!!
   Voir perso.css pour personnaliser l'affichage.
 */

/* Polices */

@font-face {
    font-family: 'Linux Libertine';
    src: url('fonts/LinLibertine_R.otf');
}

@font-face {
    font-family: 'Linux Libertine';
    font-weight: bold;
    src: url('fonts/LinLibertine_RB.otf');
}
@font-face {
    font-family: 'Linux Libertine';
    font-style: italic;
    src: url('fonts/LinLibertine_RI.otf');
}
@font-face {
    font-family: 'Linux Libertine';
    font-weight: bold;
    font-style: italic;
    src: url('fonts/LinLibertine_RBI.otf');
}


@font-face {
    font-family: 'Prociono';
    src: url('fonts/Prociono-Regular.otf');
}

@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.ttf');
}

@font-face {
    font-family: 'MPH 2B Damase';
    src: url('fonts/damase_v.2.ttf');
}

@font-face {
    font-family: 'Andikia Basic';
    src: url('fonts/AndBasR.ttf');
}

/* Formulaires */

ul#user input[type=text], ul#user input[type=password]{
    width:90%;
    }
input[type=text]:focus, input[type=password]:focus{
    border:1px solid #F5843D;
}


/* Corps HTML */
html {
font-family: 'Linux Libertine', sans-serif;
font-variant: normal;
font-size: 14px;
background-color: #804880;
box-shadow: 0px 0 2em #E6E6E6 inset;
}

body {
margin: 2%;
padding:0.5em;
background-color: #E6E6E6;
border: 0.5em solid #F5843D;
border-radius: 15px;
width:95%;
text-align: justify;
}


footer{
text-align: center;
height:4em;
border-top: 1px dotted green;
}

nav, aside, section {
float:left;
}
aside, section {
}
nav {
float:left;
width:20%;
clear:both;
text-align: left;
}

aside {
width:10%;
}

section {
width:68%;
}

.cesure {
font-family:serif;
-moz-hyphens: auto;
}
a:link, a:visited {
color:green;
text-decoration:none;
}

a:hover {
color:blue;
}

header img {
float:left;
margin-right:1em;
}

header h1 {
   text-align: left;
   font-family: 'Prociono';
   font-size: 150%;
margin-bottom: 0;
padding-bottom: 0;
}

header h2 {
text-shadow: 0 2px 2px #c0d576;
font-family: 'Pacifico', sans-serif;
font-size: 225%;
margin-bottom: 0;
padding-bottom: 0;
margin-top: 0;
padding-top: 0;
}

header h3 {
   text-align: center;
   font-family: 'Prociono';
   font-size: 170%;
margin-top: 0;
padding-top: 0;
}


table {
border:1px solid green;
}

table tr {
border: 1px solid green;
}
table thead {
font-weight: bold;
text-align: center;
background-color: #9283E3;
}


table tbody tr:nth-child(odd) {
background-color: #CDC5F6;
}

table tbody tr:nth-child(even) {
background-color: #9F8EFB;
}

table tbody tr:hover  {
background-color: #FFFFFF;
}

/* Classes */

.clear {
clear: both;
}

p.erreur {
color: red;
background-color: #F9DADF;
border: 1px solid red;
padding: 5px;
padding-left: 40px;
}

/* Cas particuliers */

body#index fieldset legend {
font-size: 150%;
}
/* Index alphabétique des examens */
ul.alphabet {
list-style-type: none;
width:10%;
right:1em;
}


ul.alphabet li {
display: block;
border: solid 1px red;
border-radius: 5px;
background-color: #E76363;
text-align: center;
margin:5px;
}

ul.alphabet {
width: 50%;
}


ul.alphabet li a, ul.alphabet li a:visited{
color: white;
}

dl.liste_prelevements dt {
font-weight: bold;
margin-left:0;
margin-top: 1em;
}

dl.liste_prelevements dd {
margin-left: 5em;
}


/* Menu principal */
nav ul {
list-style-type: none;
   margin: 0;
   padding: 0;
}

nav ul li a, div#formulaire_login{
   display: block;
   border: 1px solid #6A076A;
   margin: 0.8em;
   padding: 0.4em;
   font-family: 'MPH 2B Damase', cursive;
   font-size: 110%;
   font-weight: bold;
   background-color: #FFD78F;
   border-radius: 5px;
   color: #6A076A;
   box-shadow: 0px 5px 8px #CDA8CD;
}

nav ul li a:hover{
   border-color: #FFD78F;
   color: #FFD78F;
   background-color: #6A076A;
   text-align: right;
}

nav ul#user {
   font-family: 'Andikia Basic';
   font-weight: bold;
   text-align: center;
   border: 2px solid #6A076A;
   border-radius: 5px;
   margin: 0.5em;
   padding: 0.4em;
}

nav ul#user li a{
   text-align: left;
   border: none;

}

nav ul#user em {
   font-weight: normal;
}

/* Formulaire de connexion */
body#login fieldset {
width: 60%;
margin-left: auto;
margin-right: auto;
text-align: left;
}

body#login fieldset legend {
font-weight: bold;
font-size: 105%;
}

body#login fieldset ul {
   list-style-type: none;

}

/* Formulaire dans le menu */

div#formulaire_login {
display: none;
}

li:hover div#formulaire_login {
display: block;
}


/*div#formulaire_login {
transition-property: display;
transition-duration: 4s;
display:none;
}

li:hover div#formulaire_login {
display:block;
}
*/

/* On enlève ces horribles  rond en guise de listes à puces */
body#liste_tubes ul, 
body#liste_bons ul{
list-style-type: none;
}

/* Colorbox */

html#colorbox {
background-color: #E6E6E6;
}
/*
body#login_colorbox {
border:none;
text-align:center;
}
*/
/* Voir examen */


body#voir_examen table {
width:95%;
margin-bottom: 2em;
}
body#voir_examen table.inactif {
border: dotted solid black;
color: grey;

}

body#voir_examen p#synonymes {
font-style: italic;
font-size: 110%;
}

body#voir_examen td#indications  {
border-style: solid;
border-width: 1px;
border-left-width: 9px;
border-left-style: double;
padding: 0.5em;
padding-left: 2em;
margin: 1em;
display: none;
}

body#voir_examen td#commentaire {
border-color: black;
}

body#voir_examen td#indications {
border-color: #008000;
}

div#indications {
display: none;
}

body#voir_examen div#inline_secteur {
  padding: 1em;
background-color: #E6E6E6;
}


body#voir_examen ul#fichiers li {
width:150px;
display:block;
text-align:center;
float:left;
min-height:170px;

}




/* Classes d'urgence prédéfinies */

.urgence1 {
color: red;
}
.urgence2 {
color: green;
}
.urgence3 {
color: blue;
}
.urgence4 {
color: yellow;
}

/* Classes de recommendations prédéfinies */
.recom1 {
color: red;
}
.recom2 {
color: green;
}
.recom3 {
color: blue;
}
.recom4 {
color: yellow;
}


/* Liste des examens */

body#liste_examens p.pagination {
text-align: center;
}

body#liste_examens h3 {
    margin-bottom: 0px;
margin-left: 2em;
}

body#liste_examens ul {
    list-style-type: none;
    margin-top:0px;
}

body#liste_examens h3.inactif {
border: dotted solid black;
color: grey;
}


body#recherche ul#resultats {
	list-style-type: none;
}

body#recherche ul#resultats li{
	padding-bottom:0.5em;
}
body#recherche ul#resultats li:before{
	content: "» ";
}
