/*
 * 
 * Copyright (C) 2014  Nicolas Grandjean <nicolas@microniko.net>
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Styles
   !!!!!! NE PAS MODIFIER CE FICHIER !!!!!!!
   Voir perso.css pour personnaliser l'affichage.
 */

/* Polices */

@font-face {
    font-family: 'Linux Libertine';
    src: url('fonts/LinLibertine_R.otf');
}

@font-face {
    font-family: 'Linux Libertine';
    font-weight: bold;
    src: url('fonts/LinLibertine_RB.otf');
}
@font-face {
    font-family: 'Linux Libertine';
    font-style: italic;
    src: url('fonts/LinLibertine_RI.otf');
}
@font-face {
    font-family: 'Linux Libertine';
    font-weight: bold;
    font-style: italic;
    src: url('fonts/LinLibertine_RBI.otf');
}


@font-face {
    font-family: 'Prociono';
    src: url('fonts/Prociono-Regular.otf');
}

@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.ttf');
}

@font-face {
    font-family: 'MPH 2B Damase';
    src: url('fonts/damase_v.2.ttf');
}

@font-face {
    font-family: 'Andikia Basic';
    src: url('fonts/AndBasR.ttf');
}

/* Formulaires */

ul#user input[type=text], ul#user input[type=password]{
    width:90%;
    }
input[type=text]:focus, input[type=password]:focus{
    border:1px solid #F5843D;
}


/* Corps HTML */
html {
font-family: 'Linux Libertine', sans-serif;
font-variant: normal;
font-size: 14px;
background-color: #804880;
box-shadow: 0px 0 2em #E6E6E6 inset;
}

body {
margin: 2%;
padding:0.5em;
border: 0.5em solid #F5843D;
border-radius: 15px;
width:95%;
text-align: justify;
}

body, div#cboxContent {
background-color: #E6E6E6;
}

footer.clear{
text-align: center;
height:4em;
border-top: 1px dotted green;
}

nav, aside, section {
float:left;
}
aside, section {
}
nav {
float:left;
width:20%;
clear:both;
text-align: left;
}

aside {
width:10%;
}

section {
width:68%;
}

.cesure {
font-family:serif;
-moz-hyphens: auto;
}
a:link, a:visited {
color:green;
text-decoration:none;
}

a:hover {
color:blue;
}

header img {
float:left;
margin-right:1em;
}

header h1 {
   text-align: left;
   font-family: 'Prociono';
   font-size: 150%;
margin-bottom: 0;
padding-bottom: 0;
}

header h2 {
text-shadow: 0 2px 2px #c0d576;
font-family: 'Pacifico', sans-serif;
font-size: 225%;
margin-bottom: 0;
padding-bottom: 0;
margin-top: 0;
padding-top: 0;
}

header h3 {
   text-align: center;
   font-family: 'Prociono';
   font-size: 170%;
margin-top: 0;
padding-top: 0;
}


section#content > table {
border:1px solid green;
text-align: left;
}

section#content > table tr {
border: 1px solid green;
}
section#content > table thead {
font-weight: bold;
text-align: center;
background-color: #9283E3;
}

/* Clair */
section#content > table tbody tr:nth-child(odd) {
background-color: #f4f3d5;
}

/* Foncé */
section#content > table tbody tr:nth-child(even) {
background-color: #d0f4ca;
}

section#content > table tbody tr:hover  {
background-color: #FFD78F;
}

/* Classes */

.clear {
clear: both;
}

p.erreur {
color: red;
background-color: #F9DADF;
border: 1px solid red;
padding: 5px;
padding-left: 40px;
}

/* Cas particuliers */

body#index fieldset legend {
font-size: 150%;
}
/* Index alphabétique des examens */
ul.alphabet {
list-style-type: none;
width:10%;
right:1em;
}


ul.alphabet li {
display: block;
border: solid 1px red;
border-radius: 5px;
background-color: #E76363;
text-align: center;
margin:5px;
}

ul.alphabet {
width: 50%;
}


ul.alphabet li a, ul.alphabet li a:visited{
color: white;
}

dl.liste_prelevements dt {
font-weight: bold;
margin-left:0;
margin-top: 1em;
}

dl.liste_prelevements dd {
margin-left: 5em;
}


/* Menu principal */
nav ul {
list-style-type: none;
   margin: 0;
   padding: 0;
}

nav ul li a, div#formulaire_login{
   display: block;
   border: 1px solid #6A076A;
   margin: 0.8em;
   padding: 0.4em;
   font-family: 'MPH 2B Damase', cursive;
   font-size: 110%;
   font-weight: bold;
   background-color: #FFD78F;
   border-radius: 5px;
   color: #6A076A;
   box-shadow: 0px 5px 8px #CDA8CD;
}

nav ul li a:hover{
   border-color: #FFD78F;
   color: #FFD78F;
   background-color: #6A076A;
   text-align: right;
}

nav ul#user {
   font-family: 'Andikia Basic';
   font-weight: bold;
   text-align: center;
   border: 2px solid #6A076A;
   border-radius: 5px;
   margin: 0.5em;
   padding: 0.4em;
}

nav ul#user li a{
   text-align: left;
   border: none;

}

nav ul#user em {
   font-weight: normal;
}

/* Formulaire de connexion */
body#login fieldset {
width: 60%;
margin-left: auto;
margin-right: auto;
text-align: left;
}

body#login fieldset legend {
font-weight: bold;
font-size: 105%;
}

body#login fieldset ul {
   list-style-type: none;

}

/* Formulaire dans le menu */

div#formulaire_login {
display: none;
}

li:hover div#formulaire_login {
display: block;
}


/*div#formulaire_login {
transition-property: display;
transition-duration: 4s;
display:none;
}

li:hover div#formulaire_login {
display:block;
}
*/

/* On enlève ces horribles  rond en guise de listes à puces */
body#liste_tubes ul, 
body#liste_bons ul{
list-style-type: none;
}

/* Colorbox */

html#colorbox {
background-color: #E6E6E6;
}
/*
body#login_colorbox {
border:none;
text-align:center;
}
*/
/* Voir examen */


body#voir_examen table {
width:95%;
margin-bottom: 2em;
}
body#voir_examen table.inactif {
border: dotted solid black;
color: grey;

}

body#voir_examen p#synonymes {
font-style: italic;
font-size: 110%;
}

body#voir_examen td#indications  {
border-style: solid;
border-width: 1px;
border-left-width: 9px;
border-left-style: double;
padding: 0.5em;
padding-left: 2em;
margin: 1em;
display: none;
}

body#voir_examen td#commentaire {
border-color: black;
}

body#voir_examen td#indications {
border-color: #008000;
}

div#indications {
display: none;
}

body#voir_examen div#inline_secteur {
  padding: 1em;
background-color: #E6E6E6;
}


body#voir_examen ul#fichiers li,
body#voir_prescription ul#fichiers li
{
width:150px;
display:block;
text-align:center;
float:left;
min-height:170px;

}




/* Classes d'urgence prédéfinies */

.urgence1 {
color: red;
}
.urgence2 {
color: green;
}
.urgence3 {
color: blue;
}
.urgence4 {
color: yellow;
}

/* Classes de recommendations prédéfinies */
.recom1 {
color: red;
}
.recom2 {
color: green;
}
.recom3 {
color: blue;
}
.recom4 {
color: yellow;
}


/* Liste des examens */

body#liste_examens p.pagination {
text-align: center;
}

body#liste_examens h3 {
    margin-bottom: 0px;
margin-left: 2em;
}

body#liste_examens ul {
    list-style-type: none;
    margin-top:0px;
}

body#liste_examens h3.inactif {
border: dotted solid black;
color: grey;
}


body#recherche ul#resultats {
	list-style-type: none;
}

body#recherche ul#resultats li{
	padding-bottom:0.5em;
}
body#recherche ul#resultats li:before{
	content: "» ";
}

/* ColorBoxes */

div#cboxContent blockquote {
border-left: double 5px #F5843D;
padding-left: 1em;
}
div#cboxContent h1{
    font-size:150%
}
div#cboxContent ul{
    list-style-type: none;
}
div#cboxContent ul#soustraitance > li{
    font-weight: bold;
    padding-top:0.7em;
}
div#cboxContent li li:before, div#cboxContent ul#secteur > li:before {
    content: "» ";
}
div#cboxContent li li{
    font-weight: normal;
}

/* Mise en forme des messages 
 * Inspiré de http://www.cssportal.com/blog/css-notification-boxes/
 */

ul.messages li {
	color: #555;
	border-radius: 10px;
	padding: 10px 10px 10px 36px;
	margin: 10px;
	display:block;
}

ul.messages li.error{
	background:#ffecec url('img/msg-error.png') no-repeat 10px 50%;
	border:1px solid #f5aca6;
}

ul.messages li.success{
	background:#e9ffd9 url('img/msg-success.png') no-repeat 10px 50%;
	border:1px solid #49950f;
	color: #49950f;
}

ul.messages li.warning{
	background:#fff8c4 url('img/msg-warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
}

ul.messages li.info{
	background:#e3f7fc url('img/msg-info.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
}
ul.messages li.debug{
	background:#f5edc4 url('img/msg-debug.png') no-repeat 10px 50%;
	border:1px solid #b17f08;
	color: #b17f08;
}

  .message .error{background-color: rgba(246, 71, 71, 0.7) }
  .message .success{background-color:rgba(3, 201, 169, 0.7)}
  .message .warning{background-color: rgba(247, 202, 24, 0.7)}
  .message .info{background-color: rgba(227, 202, 24, 0.7)}
  .message .debug{background-color: rgba(247, 22, 24, 0.7)}
  .message a.MsgFerme {color:#ffffff;margin:0 10px 0 10px;float:right;}


/*
 * Images inclues par Summernote dans les pages
 * Ne souhaitant pas importer la librairie Boostrap pour ça seulement…
 */

body#index section#content p img , body#voir_page section#content p img {
    margin: 0.5em 1em;
}
body#index section#content p img.img-thumbnail, body#voir_page section#content p img.img-thumbnail {
    border: 1px solid grey;
    padding: 0.3em;
}
body#index section#content p img.img-circle, body#voir_page section#content p img.img-circle {
    border-radius: 50%;
}
body#index section#content p img.img-rounded, body#voir_page section#content p img.img-rounded {
    border-radius: 4%;
}

/* pages 404 et 403 */
body#403 p, body#404 p {
	text-align:center;
}


/* Aspect des tableaux des news */
body#index  table.table-bordered{
    border-collapse: collapse;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

body#index  table.table-bordered td{
    border: 1px black solid;
}


/* Fenêtre « Modal responsive » en pure CSS
 * Source : TrucsWeb
 * http://www.trucsweb.com/tutoriels/css/css-modal/
 */

/* CSS */
.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.droite {
  float:right;
}
 
.oModal {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
 
.oModal:target {
  opacity:1;
  pointer-events: auto;
}
 
.oModal:target > div {
  margin: 10% auto;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
 
.oModal > div {
  max-width: 600px;
  position: relative;
  margin: 1% auto;
  padding: 8px 8px 8px 8px;
  border-radius: 5px;
  background: #eee;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  /* Permettre le scroll dans la modal */
  max-height:75%;
  overflow-y:auto;

}
 
div.oModal header {
    position: fixed;
}
.oModal > div header,.oModal > div footer {
  border-bottom: 1px solid #e7e7e7;
  border-radius: 5px 5px 0 0;
}
.oModal .footer {
  border:none;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px;
}
 
.oModal > div h2 {
  margin:0;
}
 
.oModal > div .btn {
  float:right;
}
 
.oModal > div > footer > p{
    font-family:sans-serif;
    font-size:80%;
    font-weight:bold;
    text-align:center;
}
.oModal > div > footer {
  border:none;
  background:#C0BEBE;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px;
}


/*
 * Patients 
 */

table.liste_prescriptions,
table.details_patient,
table.liste_patients {
    width:100%;
    margin-top:1em;
}
table.details_patient th{
    width:25%;
}


/* Prescriptions 
 *
 */

body#voir_prescription table{
    width:100%;
    margin-top:1em;
}
body#voir_prescription table td{
    vertical-align: top;
}

body#voir_prescription table ul {
    list-style-type: none;
    padding-left: 0;
}
body#voir_prescription table ul li:before{
	content: "» ";
}
body#voir_prescription ul#fichiers li:before
{
    content: "";
}

/* 
 * Informations dans la fenêtre oModal
 */

div#oModalInfosEkz > div {
  max-width: 800px;
  max-height:85%;
  }
div#oModalInfosEkz:target > div {
  margin: 5% auto;
  }
div#oModalInfosEkz h1 {
    font-size:105%;
}

div#oModalInfosEkz table{
    border: 1px solid black;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
div#oModalInfosEkz table tr.code {
    font-size:90%;
    text-align:center
}
div#oModalInfosEkz table thead{
    text-align: center;
    font-weight: bold;
    background-color:grey;
}
div#oModalInfosEkz table td{
    padding: 0.5em;
}
