{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="403"{% endblock %}
{% block title %} Erreur 403 {% endblock %}
{% block header %}
<h3>Erreur 403 : accès interdit</h3>
{% endblock %}

{% block content %}
<p>Vous ne pouvez pas avoir accès à cette page. </p>
<p><img src="{% static 'img/403.jpg' %}" alt="403…" title=";-}"> <br>Par Arnaud 25 (Travail personnel) [Public domain], <a href="https://commons.wikimedia.org/wiki/File%3APeugeot_403_10.jpg">via Wikimedia Commons</a></p> 
{% endblock %}
