{% extends "base.html" %}
{% load static %}

{% block idBODY %} id="404"{% endblock %}
{% block title %} Erreur 404 {% endblock %}
{% block header %}
<h3>Erreur 404 : non trouvé</h3>
{% endblock %}

{% block content %}
<p>La page demandée n'existe pas… Contactez l'administrateur du site. </p>
<p><img src="{% static 'img/404.jpg' %}" alt="404…" title=";-}"> <br> By Thesupermat (Own work) [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3AR%C3%A9tromobile_2011_-_Peugeot_404_diesel_des_records_-_1965_-_001.jpg">via Wikimedia Commons</a></p>
{% endblock %}
