{% load static %}
{% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'styles.css' %}" />
<link rel="stylesheet" href="{% static 'colorbox/colorbox.css' %}" />
<link rel="stylesheet" href="{% static 'perso.css' %}" />
<link rel="shortcut icon" type="image/png" href="{{ URL_FAVICON }}" />
<link rel="search" type="application/opensearchdescription+xml" title="Recherche d'examens de biologie" href="{% url 'opensearch' %}" />
<script type="text/JavaScript" src="{% static 'jquery/jquery.js' %}"></script>
<script type="text/JavaScript" src="{% static 'colorbox/jquery.colorbox.js' %}"></script>
<script type="text/JavaScript" src="{% static 'lib.js' %}"></script>
<script>
/* Description des effets colorbox */
$(document).ready(function(){
    $(".inline").colorbox({inline:true, width:"50%"});
    $(".ajax").colorbox();
});
</script>
<title>{{ TITRE_1|striptags }} /
    {% block title %} {{ TITRE_2|striptags }} {% endblock %}
</title>

</head>
<body{% block idBODY %}{% endblock %}>

<header>
    <a href="/"><img src="{{ URL_LOGO }}" alt="{{ ALT_LOGO }}" title="{{ TITLE_LOGO }}"></a>
    <h1>{{ TITRE_1|safe }}</h1>
    <h2>{{ TITRE_2|safe }}</h2>
    {% block header %} En-tête ... {% endblock %}
</header>

<nav>
<ul>
    <li><a href="/">Accueil</a></li>
    <li><a href='{% url "recherche" %} '>Rechercher</a></li>
    {% block nav %}
    {% endblock %}
    {% for page in pages %}
        <li><a href='{% url "voir_page" page.id %}' title="{{ page.titre }}">{{ page.titre_court }}</a></li>
    {% endfor %}
    <li><a href='{% url "liste_tubes" %}'>Recueils</a></li>
    {% if VOIR_LISTE_DES_BONS = True %}
    <li><a href='{% url "liste_bons" %}'>Formulaires de prescription</a></li>
    {% endif %}
    <li><a href='{% url "liste_prelevements" %}'>Aide au prélèvement</a></li>
    {% if VOIR_PRESCRIPTIONS = True  and perms.presc.view_prescriptions %}
    <li><a href='{% url "liste_prescriptions" %}'>Prescriptions</a></li>
    {% endif %}
</ul>
<ul id="user">
    {% if user.is_authenticated %}
        <li>Bonjour {{ user.first_name }} {{ user.last_name }}
            {% if user.groups.all %}
                <em>({% for groupe in user.groups.all %}{{groupe.name }}{% if not forloop.last %}, {% endif %}{% endfor %})</em>
            {% endif %}
        </li>
        <li>
            {% if user.is_staff %}
            <a href="{% url "admin:index" %}"><img src="{% static 'img/admin.png' %}" title="Administration" alt="Administration">Administration</a>{% endif %}
            <a href="{% url 'logout' %}"><img src="{% static 'img/logout.png' %}" alt="Déconnexion" title="Se déconnecter">Déconnexion</a>
            {% else %}
        </li>
        <li>
            <a href="{% url 'login' %}"><img src="{% static 'img/login.png' %}" title="Se connecter" alt="Connexion"></a>
            <div id="formulaire_login">
            {% include 'form_login.html' %}
            </div>
        </li>
    {% endif %}
</ul>

</nav>

<section id="content">
    {% block content %}{% endblock %}
</section>

<aside>
    {% block aside %}{% endblock %}
    {% if alphabet %}
    <ul class="alphabet">
        {% for l in alphabet %}
        <li{% if lettre = l %} class="actif" {% endif %}><a href='{% url "liste_alpha_examens" l %}'>{{ l }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</aside>


<footer class="clear">
<p><em>Ekzamenoj</em> fonctionne avec Python et une base SQLite.
</p>
{% now "DATETIME_FORMAT" %}
</footer>

</body>
</html>
