{% load static %}
{% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'styles.css' %}" />
<link rel="stylesheet" href="{% static 'perso.css' %}" />
<link rel="shortcut icon" type="image/png" href="{{ URL_FAVICON }}" />
<link rel="search" type="application/opensearchdescription+xml" title="Recherche d'examens de biologie" href="{% url 'ekz:opensearch' %}" />
<link rel="stylesheet" href="{% static 'jquery-ui-themes/themes/smoothness/jquery-ui.min.css' %}">
<script type="text/JavaScript" src="{% static 'jquery/jquery.js' %}"></script>
<script type="text/JavaScript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/JavaScript" src="{% static 'lib.js' %}"></script>


<title>{{ TITRE_1|striptags }} /
    {% block title %} {{ TITRE_2|striptags }} {% endblock %}
</title>

</head>
<body{% block idBODY %}{% endblock %}>

<header>
    <a href="/"><img src="{{ URL_LOGO }}" alt="{{ ALT_LOGO }}" title="{{ TITLE_LOGO }}"></a>
    <h1>{{ TITRE_1|safe }}</h1>
    <h2>{{ TITRE_2|safe }}</h2>
    {% block header %} En-tête ... {% endblock %}
</header>

<nav>
<ul>
    <li><a href="/">Accueil</a></li>
    <li><a href='{% url 'ekz:recherche' %} '>Rechercher</a></li>
    {% block nav %}
    {% endblock %}
    {% for page in pages %}
        <li><a href='{% url "pages:voir_page" page.id %}' title="{{ page.titre }}">{{ page.titre_court }}</a></li>
    {% endfor %}
    <li><a href='{% url "ekz:liste_tubes" %}'>Recueils</a></li>
    {% if VOIR_LISTE_DES_BONS == True %}
    <li><a href='{% url "ekz:liste_bons" %}'>Formulaires de prescription</a></li>
    {% endif %}
    <li><a href='{% url "ekz:liste_prelevements" %}'>Aide au prélèvement</a></li>
    {% if VOIR_PRESCRIPTIONS == True  and perms.presc.view_prescriptions %}
    <li><a href='{% url "presc:liste" %}'>Prescriptions</a></li>
    {% if perms.presc.create_prescriptions %}
    <li><a href='{% url "presc:prescription" %}'>Prescription</a></li>
    {% endif %}
    <li><a href="{% url 'patients:recherche' %}">Patients</a></li>
    {% endif %}
</ul>
<ul id="user">
    {% if user.is_authenticated %}
        <li>Bonjour {{ user.first_name }} {{ user.last_name }}
            {% if user.groups.all %}
                <em>({% for groupe in user.groups.all %}{{groupe.name }}{% if not forloop.last %}, {% endif %}{% endfor %})</em>
            {% endif %}
        </li>
        <li>
            {% if user.is_staff %}
            <a href="{% url "admin:index" %}"><img src="{% static 'img/admin2.png' %}" title="Administration" alt="Administration">Administration</a>{% endif %}
            <a href="{% url 'logout' %}"><img src="{% static 'img/logout.png' %}" alt="Déconnexion" title="Se déconnecter">Déconnexion</a>
            {% else %}
        </li>
        <li>
            <a href="{% url 'login' %}"><img src="{% static 'img/login.png' %}" title="Se connecter" alt="Connexion"></a>
            <div id="formulaire_login">
            {% include 'form_login.html' %}
            </div>
        </li>
    {% endif %}
</ul>

</nav>

<section id="content">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{% if message.tags %} {{ message.tags }} {% else %} info{% endif %}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}{% endblock %}
</section>

<aside>
    {% block aside %}{% endblock %}
    {% if alphabet %}
    <ul class="alphabet">
        {% for l in alphabet %}
        <li{% if lettre == l %} class="actif" {% endif %}><a href='{% url "ekz:liste_alpha_examens" l %}'>{{ l }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</aside>


<footer class="clear">
<p>{% now "DATETIME_FORMAT" %} - <a href="#oModalInfosEkz" title="Voir plus d'informations">Fonctionne avec Ekzamenoj</a></p>


{% include "omodal_haut.html" with id="oModalInfosEkz" %}
    <p><em>Ekzamenoj</em> est un Logiciel Libre. <a href="https://git.framasoft.org/microniko/ekzamenoj">Sources</a>.
    </p>
    <h1>
    Version
    </h1>
    <p>
    Ekzamenoj {{ version }} {% if django %} - Django {{ django }} {% endif %} {% if python %} - {{ python }} {% endif %}
    </p>
    {% if user.is_staff %}
    <h1>
        Informations
    </h1>
    <table>
    <thead>
        <tr>
            <td>Applications installées</td>
            <td>Environnement</td>
        </tr>
    </thead>
    <tbody>
        <tr class="code">
            <td><code>settings.py</code></td>
            <td><code>pip freeze</code></td>
        </tr>
        <tr>
            <td>
                <ul>
                {% for x in apps %}
                    <li>{{ x }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                {{ pip|linebreaksbr }}
            </td>
        </tr>
    </tbody>
    </table>
    {% endif %}
    <h1>
        Licence
    </h1>
    <p>
    Ce logiciel est fourni tel quel <strong>sans aucune garantie</strong> et dans l’espoir qu’il pourrait être utile.
    </p>
    <p>
    Ce logiciel est sous licence AGPL (GNU AFFERO GENERAL PUBLIC LICENSE) version 3. Il peut-être utilisé, modifié, étudié, et redistribué (à condition de le faire dans la même licence ou dans une licence compatible). Vous pouvez trouver la version intégrale de cette licence sur le site de la <a href="http://www.gnu.org/licenses/agpl.html">Free Software Foundation</a>.
    </p>
{% include "omodal_bas.html" with id="oModalInfosEkz" legende="Informations" %}
</footer>


<script type="text/JavaScript">
/* On ferme les oModal si on presse la touche Echap */
window.addEventListener("keydown", function(e) {
    if (e.keyCode == 27) {
        document.location = '#ferme';
    }
});

</script>
</body>
</html>
