<!--
Formulaire de login
 -->
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <ul>
	{% comment "Il faudrait pouvoir utiliser ↓↓↓↓ ?" %}
            <li>{{ form.username.label_tag }} {{ form.username }}</li>
            <li>{{ form.password.label_tag }} {{ form.password }}</li>
	{% endcomment %}
	    <li><input id="id_username" maxlength="254" name="username" type="text" placeholder="Nom d'utilisateur"></li>
	    <li><input id="id_password" name="password" type="password" placeholder="Mot de passe"></li>
        </ul>
        <input type="submit" value="Connexion" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
